<div class="centras">

<p class="tienda" >Welcome to {{users.username}}</p> 
<p class="horarios">We Open Every day from <b>{{users.open}}</b> to <b>{{users.close}}</b> no matter what!</p>
<script type="text/javascript">
    window.users = {{{userss}}}
</script>
<div id="map" class="mapapequeño"></div>
<script src='/javascripts/map.js' /></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlSmRpGl2kaSE2_ZK-5X6OiA5942IFepI&callback=initMap"></script><div class="votación">
<p class="rate">Rate this Shop</p>
<form action="/user/ranking/{{users.id}}" method="post">
<div class="radio1">
  <label><input type="radio" name="optradio" value="1" ><span class="glyphicon glyphicon-star" aria-hidden="true"></span></label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="2" ><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="3" ><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></span></label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="4" ><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="5" ><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span></label>
</div>
<button class="crea2"> Vote! </button>
</form>
</div>
</div>
<ul class="submenu">
    <a href="/user/userFirst">Vuelve a la vista del mapa</a>
</ul>
 
