<div class="row profile">
  <div class="col-md-12">

<p class="tienda" >Welcome to {{users.username}}</p> 

<p>We Open Every day from {{users.open}} to {{users.close}} no matter what!</p>

Rate this Shop
<form action="/user/ranking/{{users.id}}" method="post">
<div class="radio1">
  <label><input type="radio" name="optradio" value="1" >  *</label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="2" >  **</label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="3" >  ***</label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="4" >  ****</label>
</div>
<div class="radio1">
  <label><input type="radio" name="optradio" value="5" >  *****</label>
</div>
<button class="crea"> Vote! </button>
</form>

You can visit us here!

<script type="text/javascript">
    window.users = {{{userss}}}
</script>
<div id="map"></div>
<script src='/javascripts/map.js' /></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlSmRpGl2kaSE2_ZK-5X6OiA5942IFepI&callback=initMap"></script>


  </div>
</div>


<ul>
  <li>
    <a href="/user/userFirst">Vuelve a la vista del mapa</a>
  </li>
  <li>
    <a href="/auth/logout"> Log Out </a>
  </li>
</ul>